pkgbase = ttf-murecho-git
	pkgdesc = Murecho is a low-stroke contrast, flat terminal Gothic style (“sans serif”) Japanese typeface designed for text settings in Japan.
	pkgver = 20220612
	pkgrel = 1
	url = https://github.com/positype/-Project
	arch = any
	license = custom
	source = Murecho-Black.ttf::https://github.com/positype/Murecho-Project/raw/master/fonts/ttf/Murecho-Black.ttf
	source = Murecho-Bold.ttf::https://github.com/positype/Murecho-Project/raw/master/fonts/ttf/Murecho-Bold.ttf
	source = Murecho-ExtraBold.ttf::https://github.com/positype/Murecho-Project/raw/master/fonts/ttf/Murecho-ExtraBold.ttf
	source = Murecho-ExtraLight.ttf::https://github.com/positype/Murecho-Project/raw/master/fonts/ttf/Murecho-ExtraLight.ttf
	source = Murecho-Light.ttf::https://github.com/positype/Murecho-Project/raw/master/fonts/ttf/Murecho-Light.ttf
	source = Murecho-Medium.ttf::https://github.com/positype/Murecho-Project/raw/master/fonts/ttf/Murecho-Medium.ttf
	source = Murecho-Regular.ttf::https://github.com/positype/Murecho-Project/raw/master/fonts/ttf/Murecho-Regular.ttf
	source = Murecho-SemiBold.ttf::https://github.com/positype/Murecho-Project/raw/master/fonts/ttf/Murecho-SemiBold.ttf
	source = Murecho-Thin.ttf::https://github.com/positype/Murecho-Project/raw/master/fonts/ttf/Murecho-Thin.ttf
	source = README.md::https://github.com/positype/Murecho-Project/raw/master/README.md
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ttf-murecho-git
